/* small screens */
.bio {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.bio__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3rem;
}

.container {
  max-width: 1000px;
}

.pic {
  width: 325px;
}

.footer {
  padding: 0 1rem 3rem 1rem;
}

/* large screens */
@media (min-width: 768px) {
  .footer {
    padding-bottom: 3rem;
  }
  .pic {
    margin-right: 70px;
  }
}