.bio {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.bio__section {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.container {
  max-width: 1000px;
}

.pic {
  margin-right: 70px;
  width: 325px;
}

.footer {
  padding-bottom: 3rem;
}