body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-align: center;
}

h1 {
  color: rgb(83, 83, 83);
  font-size: 5em;
  padding: 20px;
  margin: 3rem 0;
}

h2 {
  color: rgb(83, 83, 83);
  font-size: 1.25rem;
  font-weight: 400;
}