.audio-player {
  margin-bottom: 2rem;
}

.episode {
  border-radius: 35px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1), 2px 2px 4px 0 rgba(0, 0, 0, 0.1);;
  line-height: 30px;
  margin: 3rem auto;
  max-width: 675px;
  padding: 3rem;
}

.episode__info {
  margin-bottom: 2rem;
  text-align: center;
}

.episode__description {
  text-align: left;
}

.episode__description p:first-of-type {
  margin-top: 0;
}

.episode:nth-last-child(5n-7) {
  background-color: rgba(160, 204, 51, 0.5);
}

.episode:nth-last-child(5n-6) {
  background-color: rgba(254, 195, 10, 0.5);
}

.episode:nth-last-child(5n-5) {
  background-color: rgba(59, 210, 255, 0.5);
}

.episode:nth-last-child(5n-4) {
  background-color: rgba(251, 67, 73, 0.5);
}

.episode:nth-last-child(5n-3) {
  background-color: rgba(166, 64, 225, 0.5);
}

.episode__title {
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}