.episode-icon {
  margin-right: 0.5rem;
}

.episode-link-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 4px;
}

.episode-link {
  margin-right: 1rem;
  text-decoration: none;
}

/* large screens */
@media (min-width: 768px) {
  .episode-link-container {
    display: block;
  }
}
