.episode {
  border-radius: 35px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1), 2px 2px 4px 0 rgba(0, 0, 0, 0.1);;
  margin: 3rem auto;
  max-width: 1500px;
  padding: 3rem;
}

.episode:nth-child(even) {
  background-color: rgba(166, 64, 225, 0.5);
}
.episode:nth-child(odd) {
  background-color: rgba(160, 204, 51, 0.5);
}

.episode__title {
  font-weight: 700;
  padding: 1rem;
}