/* small screens */
.link {
  color: rgb(83, 83, 83);
  text-decoration: none;
}
.link:visited {
  color: rgb(83, 83, 83);
}

.link:hover {
  text-decoration: underline;
}

.topics {
  column-count: 2;
  margin: auto;
  margin-bottom: 3rem;
  text-align: left;
  width: 605px;
}

.topics__item {
  margin: 1rem;
}

.order {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 32px;
  height: 125px;
  justify-content: space-between;
  margin: 3rem 0;
}

.order__button {
  cursor: pointer;
  color: rgb(83, 83, 83);
  font-size: 50px;
}

.order__button:hover {
  color: rgba(59, 210, 255, 0.5);
}

.order__button--selected {
  color: rgba(59, 210, 255, 0.5);
}

/* large screens */
@media (min-width: 768px) {
  .order {
    width: 10%;
    position: fixed;
    align-items: flex-end;
  }
}
