/* small screens */
.link {
  color: rgb(83, 83, 83);
}
.link:visited {
  color: rgb(83, 83, 83);
}

.topics {
  margin-left: 18%;
  margin-bottom: 3rem;
  text-align: left;
  width: 240px;
}

.topics__item {
  margin: 1rem;
}

.order {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 125px;
  margin-top: 2rem;
}

.alphabet-search {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 1rem;
}

.alphabet-search__link {
  color: rgb(83, 83, 83);
  margin-right: 1rem;
  font-weight: 600;
  text-decoration: none;
}

.alphabet-search__link:hover {
  text-decoration: underline;
}

.sort{
  background-color: rgba(254, 195, 10, 0.5);
  font-size: 32px;
  margin: 3rem 0;
  padding: 1rem 0;
}

.order__button {
  cursor: pointer;
  color: rgb(83, 83, 83);
  font-size: 50px;
}

.order__button:hover {
  color: rgba(59, 210, 255, 0.5);
}

.order__button--selected {
  color: rgba(145, 228, 255);
}

/* large screens */
@media (min-width: 1105px) {
  .alphabet-search {
    flex-direction: column;
    height: 534px;
    width: 130px;
    justify-content: flex-start;
  }

  .sort {
    height: 100%;
    align-items: center;
    flex-direction: column;
    display: flex;
    position: fixed;
    justify-content: space-around;
    width: 240px;
    bottom: -47px;
  }

  .topics {
    margin-left: 45%;
  }
}
